<%= simple_form_for @game, html: { multipart: true } do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="columns">
  <div class="column is-half">

    <div class="field">
      <div class="control">
        <%= f.label :title, class: "label" %>
        <%= f.text_field :title, autofocus: true, class: "input" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.label :platform_id, class: "label" %>
        <div class="control has-icons-left">
          <span class="select">
            <%= f.input_field :platform_id, collection: @platforms, prompt: "Select platform" %>
          </span>
          <span class="icon is-small is-left">
            <i class="fa fa-gamepad"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="field pb-3">
      <div class="control">
        <%= f.input :edition, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>

    <div class="field pb-3">
      <div class="control">
        <%= f.label :release_date %><br />
        <%= f.date_select :release_date, order: [:day, :month, :year] %>
      </div>
    </div>

    <div class="columns pb-3">
      <div class="column">
        <div class="field">
          <div class="control">
            <%= f.radio_button :in_collection, true %>
            <%= f.label :in_collection, 'Physical', :value => true %>
            <%= f.radio_button :in_collection, false %>
            <%= f.label :in_collection, 'Digital', :value => false %>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <div class="control">
            <%= f.label :buy_date %><br />
            <%= f.date_select :buy_date, order: [:day, :month, :year] %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns pb-3">
      <div class="column">
        <div class="field">
          <div class="control">
            <label for="game[completed]">
              <%= f.input :completed, required: false, input_html: { class: "checkbox"}, wrapper: false, label: false %>
              Completed?
            </label>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <div class="control">
            <%= f.label :completed_date %><br />
            <%= f.date_select :completed_date, order: [:day, :month, :year] %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="columns">
      <div class="column">
        <div class="field">
          <div class="control">
            <%= f.input :comment, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" }, placeholder: "Write a comment..." %>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="column is-offset-1">
    <div class="columns">
      <div class="field column">
        <div class="control">
          <%= f.input :rating, input_html: { class: "input", id: "rating_value", type: "hidden", value: (@game.rating unless @game.rating.nil?) }, wrapper: false, label_html: { class: "label" } %>
          <%= render 'rating_widget', game: @game %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :thumbnail, class: "label" %>

      <div class="cover-field">
        <span class="item-cover"></span>

        <% if @game.thumbnail.attached? %>
        <%= image_tag @game.thumbnail, alt: "#{@game.title}" %>
        <% end %>
      </div>

      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
        <%= f.file_field :thumbnail, direct_upload: true, data: { target: 'dropzone.input' } %>
        <div class="dropzone-msg dz-message needsclick text-gray-600">
          <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
          <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
        </div>
      </div>
    </div>
    
  </div>

</div>

<hr />

<%= f.button :submit, class:"button is-dark" %>

<% end %>