<li class="item">
  <div class="cover <%= 'monochrome' unless game.thumbnail.attached? %>">
    <span class="item-cover"></span>
    <% if game.thumbnail.attached? %>
    <%= link_to image_tag(game.thumbnail), game %>
    <% else %>
    <% if asset_exist?("monochrome/#{game.platform.manufacturer} - #{game.platform.name}-content.png") %>
    <%= link_to image_tag("monochrome/#{game.platform.manufacturer} - #{game.platform.name}-content.png"), game %>
    <% end %>
    <% end %>
  </div>

  <span class="item-title"><%= link_to game.title, game %></span>

  <div class="rating">
    <%= render partial: "games/rating_static", locals: {rating: game.rating.to_i} %>
  </div>

  <div class="status-icons">
    <% if game.completed %>
    <div class="icon">
      <i class="fas fa-check"></i>
      <span class="tooltip">Completed</span>
    </div>
    <% end %>

    <% if (game.in_collection)&&(asset_exist?("monochrome/#{game.platform.manufacturer} - #{game.platform.name}-content.png")) %>
    <div class="icon">
      <span class="icon-monochrome">
      <%= image_tag("monochrome/#{game.platform.manufacturer} - #{game.platform.name}-content.png") %>
      </span>
      <span class="tooltip">In collection</span>
    </div>
    <% end %>

    <% unless game.edition.empty? %>
    <div class="icon">
      <i class="fas fa-cubes"></i>
      <span class="tooltip"><%= game.edition %></span>
    </div>
    <% end %>

  </div>
</li>