<!DOCTYPE html>
<html>

<head>
  <title>MyGameLibrary</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'Sony - PlayStation.png' %>
</head>

<body>
  <% if flash[:notice] %>
  <div class="notification is-primary global-notification">
    <p class="notice"><%= notice %></p>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="notification is-danger global-notification">
    <p class="alert"><%= alert %>
  </div>
  <% end %>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class=navbar-brand>
      <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-5">My Game Library</h1>
      <% end %>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expended="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">

      <div class="navbar-start">
        <%= link_to platforms_path, class: "navbar-item" do %>
        Platforms
        <% end %>
      </div>

      <div class="navbar-end">
        <% if user_signed_in? %>
        <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
        <% end %>
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-info" %>
            <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "button is-info" %>
            <%= link_to 'Sign Up', new_user_registration_path, class:"button is-info" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </nav>

  <%= yield %>

  <% if user_signed_in? %>
  <div class="surface-add-item">
    <div class="add-item-button">
      <%= link_to new_game_path do %>
      <button class="floating-action-button" title="Add game">      
        <i aria-hidden="true" class="add-item fa fa-plus"></i>
        <i aria-hidden="true" class="create-game fa fa-gamepad"></i>
      </button>
      <% end %>
    </div>
  </div>
  <% end %>

</body>

</html>